.container {
    margin: 10vh auto;
    width: 450px;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    background-color: #045194;
}

.header {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

input {
    width: 400px;
    height: 70px;
    font-size: 3rem;
    text-align: right;
    background-color: #dfe2e1;
}

.buttons {
    margin: auto;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 40px;
    font-size: 20px;
    margin: 0.5rem;
    max-width: 100px;
    max-height: 100px;
    text-align: center;
    border-radius: 10%;
    font-weight: 900;
    background-color: #eef3f1;
    color: #10477b;
}

.redBtn {
    background-color: #cc203a;
    color: #f9c0c8;
}